@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: none;
  }

  button, a {
    touch-action: manipulation;
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
